<template name="signin">
    <div class="form-login" style="background: url('{{getSigninImage}}') repeat fixed center center;position: absolute;min-height: 100%;width: 100%;background-size: 100% auto;padding: 10px;z-index: 99;">
        <form class="login-block">
            <h1>Login</h1>
            <p class="account-alert">{{error}}</p>
            <fieldset>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </fieldset>
            <button type="submit">Login</button>
            <a class="login-signup" href="/"><i class="fa fa-arrow-circle-o-right"></i> Back to homepage </a>
            <a class="login-signup" href="{{pathFor 'signup'}}">Create new account</a>
        </form>
    </div>
</template>